.article {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;

  h4 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: large;
  }

  .categoryBtn_box {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  .carouselBorder {
    border-radius: 8px;
  }

  &BtnNotSelected {
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5), 2px 2px 5px rgba(170, 170, 204, 0.25),
      5px 5px 10px rgba(170, 170, 204, 0.5), -5px -5px 10px #ffffff;
    border-radius: 15px;
    width: 60px;
  }

  &BtnSelected {
    @extend .articleBtnNotSelected;
    color: white;
    background-color: $freditgreen;
  }

  &Pic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $hy-green;
    height: 30vh;
    border-radius: 8px;

    label {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input[type="file"] {
      position: absolute;
      width: 0;
      height: 0;
      padding: 0;
      overflow: hidden;
      border: 0;
    }
  }

  textarea {
    margin-top: 20px;
    background-color: $hy-green;
    border-radius: 8px;
    height: 20vh;
    padding: 10px 10px;
  }

  .buttonDiv {
    background-color: $freditgreen;
    border-radius: 8px;
    margin-top: 15px;
    padding: 7px 0px;
    color: white;
    text-align: center;
  }

  .disabledBtnDiv {
    background-color: $hy-grey;
    border-radius: 8px;
    margin-top: 15px;
    padding: 7px 0px;
    color: white;
    text-align: center;
  }

  .photoClick {
    color: $freditgreen;
    border-radius: 50%;
    background-color: white;
  }
}