// 프로젝트 키 컬러들
$freditgreen: #004627;
$mild-bg: #F7FAF7;
$lighter-green: #A4BCA5;
$pastel-green: #49784B;

// black white 는 FFFFFF(white), 222222(black)
// lighter green 도 백그라운드 섞어 씀
// 기본적으로 컨텐츠박스는 마일드 백그라운드가 깔림
// 버튼은 검정 or freditgreen 으로
// 아이콘 색상, 컨텐츠 박스 pastel green 괜찮음




