// 프로젝트 키 컬러들
$freditgreen: #004627;
$mild-bg: #fafffb;
$lighter-green: #a4bca5;
$pastel-green: #49784b;
// 중요!! 컨텐츠 영역 백그라운드 hy-green
$hy-green: #ebf4ed;
$heart-green: #20683d;
$hy-grey: #bababa;
// 취소버튼 색상
$hy-red: #cf5555;
$hy-blue: #55b2cf;

// black white 는 FFFFFF(white), 222222(black)
// lighter green 도 백그라운드 섞어 씀
// 기본적으로 컨텐츠박스는 마일드 백그라운드가 깔림
// 버튼은 검정 or freditgreen 으로
// 아이콘 색상, 컨텐츠 박스 pastel green 괜찮음
