.vetparty {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;

  h4 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &BtnNotSelected {
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.5), 2px 2px 5px rgba(170, 170, 204, 0.25),
      5px 5px 10px rgba(170, 170, 204, 0.5), -5px -5px 10px #ffffff;
    border-radius: 15px;
    width: 60px;
  }

  &BtnSelected {
    @extend .articleBtnNotSelected;
    color: white;
    background-color: $freditgreen;
  }

  textarea {
    margin-top: 20px;
    background-color: $hy-green;
    border-radius: 15px;
    height: 20vh;
    padding: 10px 10px;
  }

  input {
    margin-top: 20px;
    background-color: $hy-green;
    border-radius: 15px;
    padding: 10px 10px;
  }

  vs-select .dropdown-toggle {
    margin-top: 20px;
    border: none;
    padding: 10px 10px;
  }

  .BtnComp {
    background-color: $freditgreen;
    color: white;
    border-radius: 8px;
    margin-top: 15px;
    padding: 7px 0px;
  }
}
